<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recognize.task.mapper.TaskRecognizeMapper">

    <!-- auto generated map -->
    <resultMap id="BaseResultMap" type="com.recognize.task.entity.TaskRecognizeEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <id column="task_id" jdbcType="BIGINT" property="taskId"/>
        <id column="device_id" jdbcType="BIGINT" property="deviceId"/>
        <id column="screen_id" jdbcType="BIGINT" property="screenId"/>
        <id column="recognize_num" jdbcType="BIGINT" property="recognizeNumber"/>
        <id column="strap_num" jdbcType="BIGINT" property="strapNumber"/>
        <id column="error_num" jdbcType="BIGINT" property="errorNumber"/>
        <id column="attachment_id" jdbcType="BIGINT" property="attachmentId"/>
        <id column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <id column="create_by" jdbcType="BIGINT" property="createBy"/>
        <id column="updt_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <id column="updt_by" jdbcType="BIGINT" property="updateBy"/>
    </resultMap>


</mapper>
