<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recognize.device.mapper.StrapScreenMapper">

    <!-- auto generated map -->
    <resultMap id="BaseResultMap" type="com.recognize.device.entity.StrapScreenEntity">
        <id column="screen_id" jdbcType="BIGINT" property="screenId"/>
        <id column="device_id" jdbcType="BIGINT" property="deviceId"/>
        <id column="screen_type" jdbcType="BIGINT" property="screenType"/>
        <id column="screen_name" jdbcType="VARCHAR" property="screenName"/>
        <id column="soft_type" jdbcType="BIGINT" property="softType"/>
        <id column="soft_page" jdbcType="BIGINT" property="softPage"/>
        <id column="row_num" jdbcType="BIGINT" property="rowNumber"/>
        <id column="col_num" jdbcType="BIGINT" property="columnNumber"/>
        <id column="strap_num" jdbcType="BIGINT" property="strapNumber"/>
        <id column="remark" jdbcType="VARCHAR" property="remark"/>
        <id column="attachment_id" jdbcType="BIGINT" property="attachmentId"/>
        <id column="is_del" jdbcType="BIGINT" property="del"/>
        <id column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <id column="create_by" jdbcType="BIGINT" property="createBy"/>
        <id column="updt_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <id column="updt_by" jdbcType="BIGINT" property="updateBy"/>
    </resultMap>

    <select id="findByScreenIdIn" resultMap="BaseResultMap">
        select s.* FROM strap_screen s where s.screen_id in
        <foreach collection="screenIdList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
        and s.is_del = 0
    </select>

    <select id="findByDeviceId" resultMap="BaseResultMap">
        select s.* FROM strap_screen s where s.device_id = #{deviceId} and s.is_del = 0
    </select>

    <select id="findByScreenId" resultMap="BaseResultMap">
        select s.* FROM strap_screen s where s.screen_id = #{screenId}
        and s.is_del = 0
    </select>

    <select id="searchScreen" resultMap="BaseResultMap">
        select s.* FROM strap_screen s
        left join device_info d on s.device_id = d.device_id
        where s.is_del = 0 and d.is_del = 0
        <if test="param !=null">
            <if test="param.stationId !=null">
                and d.station_id = #{param.stationId}
            </if>

            <if test="param.screenId !=null">
                and s.screen_id = #{param.screenId}
            </if>

            <if test="param.deviceId !=null">
                and d.device_id = #{param.deviceId}
            </if>

            <if test="param.screenName !=null">
                and instr(s.screen_name, #{screenName}) > 0
            </if>
        </if>
        order by s.create_time desc

    </select>

</mapper>
