<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recognize.user.mapper.BaseUserRoleXwMapper">

    <!-- auto generated map -->
    <resultMap id="BaseResultMap" type="com.recognize.user.entity.BaseUserRoleXwEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <id column="is_del" jdbcType="BIGINT" property="del"/>
        <id column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <id column="create_by" jdbcType="BIGINT" property="createBy"/>
        <id column="updt_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <id column="updt_by" jdbcType="BIGINT" property="updateBy"/>
    </resultMap>



    <select id="findByRoleId"  resultMap="BaseResultMap">
        select * from base_user_role_xw where role_id = #{roleId}
    </select>

    <select id="findByUserId"  resultMap="BaseResultMap">
        select * from base_user_role_xw where user_id = #{userId}
    </select>

    <update id="updateUserRoleXwByUserId">
        update base_user_role_xw xw set xw.is_del = 1, xw.updt_time = now(), xw.updt_by = #{updateUserId} where xw.user_id = #{userId} and xw.is_del = 0
    </update>

</mapper>
